<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="js/fisheye.js"></script>
        <title>Structural Fisheye Views</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>